# ========================
# Python
# ========================
__pycache__/
.pycache/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
.coverage
.coverage.*
coverage.xml
htmlcov/
.env
.venv/
venv/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.python-version

# macOS
.DS_Store

# ========================
# FastAPI / Backend data
# ========================
backend/app/data/logs/*
backend/app/data/versions/*
backend/app/data/rbac.json

# ========================
# Node / Frontend
# ========================
node_modules/
dist/
frontend/dist/
frontend/node_modules/

# ========================
# VSCode
# ========================
.vscode/
.idea/

# ========================
# Docker local secrets
# ========================
docker/backend.env
