# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
.env
.venv/
venv/

# macOS
.DS_Store

# ========================
# FastAPI / Backend data
# ========================
backend/app/data/logs/*
backend/app/data/versions/*

# ========================
# Node / Frontend
# ========================
node_modules/
dist/
frontend/dist/
frontend/node_modules/

# ========================
# VSCode
# ========================
.vscode/
